/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== ESTILO GENERAL ===============*/
:root{
    --primary-color: #0a2f35;
    --grey: #e9dbd8;
    --overlay: #0000009c;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}

.center{
    width: 90%;
    margin: auto;
    text-align: center;
    padding:5rem 0 5rem 0;
}

.bg-primary{
    background-color: var(--primary-color);
    color: #e9dbd8;
}

hr{
    border-color: var(--primary-color);
}


/*=============== TÃTULOS===============*/
h1{
    font-size: 4.5rem;
    line-height: 1.2;
    font-weight: 700;
}
h2,h3,h4,h5{
    font-size: 3rem;
    padding: 0.2em;
    margin-bottom: 1em;
    line-height: 1.2;
    font-weight: 600;
}
h6{
font-size: 2.5rem;
margin: 0.5em;
font-weight: 400;
}


/*=============== HEADER===============*/

header {
    background: var(--primary-color);
    color: #e9dbd8;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#logo{
    display:none;
}

nav li a{
    color: #e9dbd8;
    padding:0.0625em;
    display: block;
}
nav li a:hover{
    color: var(--primary-color);
    background-color: #e9dbd8;
    cursor: pointer;
    transition: 0.3s;
}

/*=============== HOME===============*/

.bg-home {
    background-image: url(./img/banner.jpeg);
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9dbd8;
    background-blend-mode: multiply;
    background-color: var(--overlay);
}

.home p{
    font-size: 2rem;
    margin-top: 1em;
    font-weight: 300;
}


/*=============== STEPS ===============*/
.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
.steps-card{
    border: 1px solid white;
    width: 29rem;
    font-size: 1.5rem;
    margin: 3rem;
    padding: 1.5em;
}
.steps-card i{
    font-size: 100px;
}

/*=============== FEATURES ===============*/
.ri-checkbox-multiple-fill {
    color: var(--primary-color);
    font-size: 1.5rem;
    gap: 5px;
}

.features li {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3em;
}

/*=============== TEAM ===============*/
#team {
    background: var(--grey);
}

.team li {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3em;
}

/*=============== ABOUT ===============*/
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card{
    width: 23rem;
    height: 27em;
    margin: 3rem;
    box-shadow: 2px 5px 7px 1px;
    position: relative;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: white;
    color: #000;
}
.card:hover{
    transform: translateY(-3px);
}
.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.upper-section{
    height: 35%;
    background: #e9dbd8;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.image-container{
    position: absolute;
    top: 17%;
    left: 27%;
}
.lower-section{
    height: 65%;
    padding: 0.095em;
}
.info{
    margin-top: 25%;
}
.card-name{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: oswald,sans-serif;
}
.card-title{
    text-transform: uppercase;
    font-weight: 300;
}
.card-line{
    color: var(--primary-color);
    width: 80%;
    margin: 1rem auto;
}
.card-description{
    font-family: Montserrat,sans-serif;
}
.social-icons{
    font-size: 2.7rem;
    margin-top: 0.5em;
    cursor: pointer;
}

.ri-linkedin-box-fill {
   color: #0e76a8;
}

.ri-github-fill {
    color: #171515;
}

.ri-links-line {
color: #808080;
}

/*=============== FAQS ===============*/
.faq_body, .head{
    max-width: 900px;
    margin: auto;
    font-size: 2rem;
    color: #0a2f35;
}

.head{
    text-align: center;
    padding: 20px 0px;
}

.faq_body{
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
}

summary{
    background-color: #e9dbd8;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 15px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

summary:hover{
    background-color: var(--overlay);
}

details[open=""] > summary{
    background-color: #e9dbd8;
}

details div{
    background-color: #e9dbd8;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 2;
    margin-bottom: 40px;
}

/*=============== FOOTER ===============*/
footer{
    background-color: #e9dbd8;
    color: #0a2f35;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*=============== MEDIA QUERIS ===============*/

@media (min-width:480px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #e9dbd8;

    }
    #logo{
        display: unset;
        height: 70px;
        width: 80px;
    }
    nav ul{
        display: flex;
    }
    nav li a{
        color: #0000009c;
        margin-right: 0.5em;
        font-weight: 600;
    }

}

@media (min-width:720px) {
    h1{
        font-size: 5rem;
    }
    h2,h3,h4,h5{
        font-size: 3.5rem;
    }
    .home,.features.team{
        width: 80%;
        margin: auto;
    }
}
@media (min-width:900px) {
    nav li a{
        margin-right: 1em;
    }
    .features,.team{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-item-one,.grid-item-two{
        margin: auto;
    }
    h3{
        font-size: 2.2rem;
    }
    footer{
        font-size: 1.8rem;
        font-weight: 300;
    }
}

@media (min-width:1200px) {
    .center{
        max-width: 1200px;
        margin: auto;
    }
    header{
        justify-content: space-evenly;
    }
}